body {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}

h1 {
  font: bold 32px monospace;
  color: #3e4128;
  margin: 0;
}

p {
  font: 18px monospace;
  color: #3e4128;
  margin: 0;
}

#usernameBox {
  font: bold 20px monospace;
  color: white;
  background-color: #ccd672;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-bottom: 3%;
  text-align: center;
  width: max-content;
  ;
}

#aboutBox {
  width: auto;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 3%;
  border-radius: 10px;
  background-color: #b2b49f;
  background-image: url(/assets/Screenshot\ 2024-04-30\ 210409.png);
  background-size: cover;
  background-position-y: 30%;
  background-blend-mode: overlay
}