body {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}

h1 {
  font: bold 32px monospace;
  color: #3e4128;
  margin: 0;
}

h2 {
  font: bold 24px monospace;
  color: #3e4128;
  margin: 0;
}

h3 {
  font: bold 16px monospace;
  color: #747e2e;
  margin: 0;
}

p {
  font: 18px monospace;
  color: #3e4128;
  margin: 0;
}

#usernameBox {
  font: bold 20px monospace;
  color: white;
  background-color: #ccd672;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-bottom: 3%;
  text-align: center;
  width: max-content;
  user-select: none;
}

#aboutBox {
  width: auto;
  padding-top: 170px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 40px;
  margin-bottom: 3%;
  border-radius: 10px;
  background-color: #b2b49f;
  background-image: url(/assets/Screenshot\ 2024-04-30\ 210409.png);
  background-size: cover;
  background-position-y: 30%;
  background-blend-mode: overlay;
  user-select: none;
}

.containerHeaders {
  display: flex;
}

.containerHeaders h2 {
  margin-bottom: 15px;
  margin-left: 20px;
}

.containerBoxes div {
  background-color: #ccd672;
  border-radius: 10px;
  padding: 20px;
  margin: 0% 2% 0% 2%;
}

#interestBox {
  margin-bottom: 5%;
  width: 300px;
  background-color: #ccd672;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 0px 20px 10px 0px;
}