// mixins

.greenBox {
  background-color: #ccd672;
  border-radius: 2px;
  width: max-content;
  height: max-content;
}

.containerRows {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}

.containerColumns {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}


// the good stuff


#header {
  .containerRows;
  height: 50px;
  justify-content: space-between;
}

#header img {
  width: auto;
  height: inherit;
}

#usernameBox {
  .greenBox;
  padding: 4px 5px 5px 6px;
  font: bold 16px monospace;
  color: white;
  text-align: center;
  user-select: none;
}

#banner img {
  border-radius: 2px;
  margin: 10px 0px 0px 0px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: unset;
  aspect-ratio: 11 / 3;
}

#mainContainer {
  .containerRows;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}

#aboutBox {
  align-self: flex-start;
  width: 65%;
  height: max-content;
  margin: 0px 0px 0px 0px;
  padding: 0px 15px 0px 15px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #ccd672;
}

#profileBox {
  .containerColumns;
  width: 30%;
  height: max-content;
  margin: 0px 3px 0px 0px;
  padding: 10px 0px 0px 0px;
  position: relative;
  bottom: 160px;
}

#profileBox img {
  border-radius: 50%;
  width: 90%;
  height: auto;
}