// mixins

.greenBox {
  background-color: #ccd672;
  border-radius: 2px;
  width: max-content;
  height: max-content;
}

.containerRows {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
}

.containerColumns {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}


// the good stuff


#header {
  .containerRows;
  height: 50px;
  justify-content: space-between;
}

#header img {
  width: auto;
  height: inherit;
}

#usernameBox {
  .greenBox;
  padding: 4px 5px 5px 6px;
  font: bold 16px monospace;
  color: white;
  text-align: center;
  user-select: none;
}

#banner img {
  border-radius: 2px;
  margin: 10px 0px 0px 0px;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: unset;
  aspect-ratio: 8 / 3;
}

#mainContainer {
  .containerRows;
  justify-content: space-between;
}

#foldersContainer {
  .containerRows;
  justify-content: space-between;
}

#profileContainer {
  .containerColumns;
  flex-flow: wrap column;
}