* {
  box-sizing: border-box;
  margin: 0;

}

body {
  padding: 0vw 25vw 0vw 25vw;
  margin: 0;
  background-color: #f3f2e5;
}

@media only screen and (max-width: 800px) {
  body {
    padding: 0vw 3vw 0vw 3vw;
  }
}

h1 {
  font: bold 2.5vw monospace;
  color: #131520;
}

h2 {
  font: 1.5vw monospace;
  color: #464968;
}

h3 {
  font: 1.2vw monospace;
  color: #dddbc7;
}

p {
  font: 1.2vw monospace;
  line-height: 1.6vw;
  /* font: 16px monospace; */
  color: #ccd672;
}

b {
  font: monospace;
  color: #131520;
}

hr {
  border: none;
  height: 0.9px;
  background-color: #e2e4cc;
  align-self: center;
}

mark {
  background-color: #e8ecc0;
  color: #aab359;
}

a:link {
  color: #888eaa;
  margin: 0vw 0vw 0vw 0vw;
  display: inline;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #dddbc7;
}

a:hover {
  color: #464968;
}