:root {
  box-sizing: border-box;
}

body {
  padding: 0% 20% 0% 20%;
}

h1 {
  font: bold 30px monospace;
  color: #3e4128;
  display: inline-block;
}

h2 {
  font: 25px monospace;
  color: #3e4128;
  display: inline-block;
}

h3 {
  font: 20px monospace;
  color: #d3d4ce;
  display: inline-block;
}

p {
  font: 16px monospace;
  color: #ccd672;
}

b {
  font: monospace;
  color: #3e4128;
}