* {
  box-sizing: border-box;
  margin: 0;

}

body {
  padding: 0vw 25vw 0vw 25vw;
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0vw 15vw 0vw 15vw;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding: 0vw 5vw 0vw 5vw;
  }
}

h1 {
  font: bold 2.5vw monospace;
  color: #555a2e;
}

h2 {
  font: 1.5vw monospace;
  color: #aab359;
}

h3 {
  font: 1.2vw monospace;
  color: #d3d4ce;
}

p {
  font: 1.2vw monospace;
  line-height: 1.6vw;
  /* font: 16px monospace; */
  color: #ccd672;
}

b {
  font: monospace;
  color: #555a2e;
}

hr {
  border: none;
  height: 0.9px;
  background-color: #e2e4cc;
  align-self: center;
}

mark {
  background-color: #e8ecc0;
  color: #aab359;
}

a:link {
  color: #ccd672;
  margin: 0vw 0vw 0vw 0vw;
  display: inline;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #d2d893;
}

a:hover {
  color: #aab359;
}